section.authorization
  .authorization__inner_box
    form.authorization__form(method="POST")
      .authorization__title Войти
      .authorization__input_container
        label.authorization__label(for="email") E-mail
        .authorization__input_block
          input.authorization__input(
            type="text"
            id="email"
            placeholder="mail@gmail.com"
          )
      .authorization__input_container
        label.authorization__label(for="email") Пароль
        .authorization__input_block
          input.authorization__input(
            type="password"
            id="password"
            placeholder="******"
          )
          i.authorization__input_icon#password(class="fas fa-eye")
      button.authorization__button Войти
